<link rel="stylesheet" href="/css/styleUser.css">
<nav class="topMenuBar">
    <ul class="topMenu">
        <li>clientes</li>
        <li>produtos</li>
        <li>pedidos</li>
        <li>sair</li>
    </ul>
</nav>