<%- include ('partials/header.ejs') %>
<%- include ('partials/nav.ejs') %>
<main class="produtBody">
    <h1>Produtos</h1>
    <div class="containerProdutos">
        <div class="cardProdutos">
            <div class="imgProd">
                <img src="imgs/AdobePhotoshop2023.jpg" alt="">
            </div>
            <label for="">Adobe Photoshop 2023</label>
            <p>229,00</p>
        </div>
    </div>
</main>



<%- include ('partials/footer.ejs') %>