<!DOCTYPE html>
    <html lang="pt-br">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" href="/css/styleUser.css">
            <title>Bem Vindo a Loja</title>
        </head>
        <body>
            <nav class="topMenuBar">
                <ul class="topMenu">
                    <li>clientes</li>
                    <li>produtos</li>
                    <li>pedidos</li>
                    <li>sair</li>
                </ul>
            </nav>
            <div class="container">
                <h1>Bem vindo a Loja</h1>
                <div class="btns">
                    <div class="btn-1">
                        <img src="/imgs/Gear.svg" alt="">
                        <p>clientes</p>
                    </div>
                    <div class="btn-2">
                        <img src="/imgs/Gear.svg" alt="">
                        <p>produtos</p>
                    </div>
                    <div class="btn-3">
                        <img src="/imgs/Gear.svg" alt="">
                        <p>pedidos</p>
                    </div>
                </div>
            </div>
        </body>
    </html>