body {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	margin: 0;
	width: 100vw;
	height: 100vh;
	background: #c2c2c2;
}

.topMenuBar {
    width: 100%;
    height: 7%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #000007;
}

.topMenu {
	width: 90%;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
    align-items: center;
}

.topMenu li {
	list-style: none;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 1.5rem;
    width: 20%;
    height: 100%;
    text-align: center;
    align-content: center;
}

.topMenu li:hover {
	background-color: #c2c2c2;
	color: #000000;
}

h1 {
	text-transform: uppercase;
    font-size: 3rem;
    margin: 0 0 10px 0;
}

.container {
	width: 100%;
    height: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.btns {
	width: 25%;
    height: 30%;
    padding: 20px;
    text-transform: uppercase;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    color: #ffffff;
    font-size: 1.5rem;
    display: grid;
    grid-template:
        "logo1 btn1" 30%
        "logo2 btn2" 30%
        "logo3 btn3" 30% /35% 30%;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.btn-hover {
    display: grid;
    grid-template:
        "logo btn" 30%
        /35% 30%;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.button-1, .button-2, .button-3 {
    width: 100%;
    height: 100%;
    margin: 0;
    align-content: center;
}

.button-1 {
	grid-area: btn1;
}

.button-2 {
	grid-area: btn2;
}

.button-3 {
	grid-area: btn3;
}

.logo-1, .logo-2, .logo-3 {
    height: 100%;
    width: 100%;
}

.logo-1 {
	grid-area: logo1;
}

.logo-2 {
	grid-area: logo2;
}

.logo-3 {
	grid-area: logo3;
}

.btn-1, .btn-2, .btn-3 {
	width: 100%;
    display: inline-flex;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.btn-hover:hover {
	background-color: #ffffff;
	color: #000000;
}